@{
    ViewData["Title"] = "Student Management System";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Our Student Management System.
        <br />
        <a asp-controller="Student" asp-action="Index">Lets's start your journey</a>
    </p>
</div>
